// ----------- VARIABLES PROYECTO ----------

//-----------  FONTS  -------------

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@400;600;700;800;900&family=Source+Sans+3:wght@700&display=swap');


//Paleta de colores: Dust Palette

$color1: #593E57;
$bgColor: #251824;
$color3: #B7A6B5;
$color4: #FF8066;
$textColor: #ffffff;

//------------FONT SIZE --------------

$size: 15px;
$size1: 20px;
$size2: 35px;
$size3: 40px;


//---------- Paddings Desktop ---------

$padding_dsktp: 300px;

* {
    margin: 0px;
    padding: 0px;
}

//aplico mixin para tener todos mis botones iguales

@mixin boton ($btn_radius, $bgbtcolor, $btn_bdercolor ){
    border-radius: $btn_radius;
    background-color: $bgbtcolor;
    border-color: $btn_bdercolor;
}

.btnAnimado{
    animation-name: efectoShop;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    color: #ffff;
    &:hover{
        color:#ffffff;
    }
}

@keyframes efectoShop {
    0% {
        @include boton(0px, $bgColor,$color3);
    }

    50% {
        @include boton(5px, $color3,$bgColor);
    }

    100% {
        @include boton(0px, $bgColor,$color3);
    }
}



@import "_navbar";
@import "_main";
@import "_form";



.imgSust{
    display: flex;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.card-body{
    background-color: $bgColor !important;
}

.card-title{
    color: #ffff;
}

.card-text{
    @extend .card-title; 
}
/*-----------  FOOTER  -------------*/

.footer {
    background-color: rgba(37, 24, 36, 0.95);
    color:  $textColor;
    padding: 40px;
    text-align: center;
}

.footerLogo {
    margin-bottom: 30px;
    display: inline-block;

    img {
        height: 80px;
    }

}


.footerSocial {
    margin-bottom: 30px;

    a img {
        display: inline-block;
        margin-right: 16px;
        height: 60px;
    
    
    }

}



.footerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*toma el tamano del elemento hijo*/
    line-height: 2;
    font-size: $size1;
    font-weight: 500;

    &.col1 {

            a {
            color: $textColor;
            text-decoration: none;
            }
    }
    
    &.col2 {
        margin-bottom: 30px;

            a {
            color: $textColor;
            text-decoration: none;
            }
    }
}

.footerCopyright {
    p {
        color:rgba(255, 255, 255, 0.6);
    }
}

.carousel-caption{
    color:#ffff !important;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/*-----------  FOOTER END -------------*/

/*-----------  LLAMO A MEDIA QUERY PARA RESOLUCION DISP -------------*/

@media only screen and (max-width: 576px) {
    .welcomeTitle {
        text-align: center;
        left: 70px;
        top: 130px;
        width: auto;
        font-size: $size2;
    }

    .welcomeParagraph {
        display: none;
    }


    .title2 {
        padding: 200px 20px 200px 20px ;
        font-size: 35px;
        
    }

    .title4{
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
        justify-content: center;
        font-size: 35px;
        font-weight: 600;
        color: rgb(0, 141, 206);
    }

    
    .card-title{
        color: #ffff;
    }
    
    .card-text{
        @extend .card-title; 
    }
    .carousel-item {
            height: 250px;
        img{
            height: 200px;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            }
      }
}

@media only screen and (min-width:577px) and (max-width:1024px) {
    .welcomeTitle {
        text-align: left;
        left: 70px;
        top: 150px;
        width: auto;
        font-size: 40px;
    }

    .welcomeParagraph {
        left: 70px;
        top: 250px;
        width: 450px;
        height: auto;
        font-size: $size;
    }
    .title4{
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
        justify-content: center;
        font-size: 45px;
        font-weight: 600;
        color: rgb(0, 141, 206);
    }

}

@media only screen and (min-width:1025px) {
    .welcomeTitle {
        text-align: left;
        left: 70px;
        top: 180px;
        width: 450px;
        font-size: 80px;
        line-height: 120px;
    }

    .welcomeParagraph {
        right: 100px;
        top: 180px;
        width: 450px;
        height: auto;
        font-size: $size1;
    }

    .title2 {
        padding: $padding_dsktp;
        font-size: 70px;
    }

    .title4{
        display: flex;
        padding-top: 300px;
        padding-bottom: 300px;
        justify-content: center;
        font-size: 65px;
        font-weight: 800;
        color: rgb(0, 141, 206);
    }
    
    .footer{
        display:grid;
        grid-template-columns: repeat(3,1fr) 2fr;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
        "logo links1 links2 social"
        "logo links1 links2 copyright";
        justify-items: start;
    }
    .footerLinks{
        align-items: start;
    }
    .footerLogo{
        grid-area: logo;
    }
    
    .footerSocial{
        grid-area: social;
    }

    .col1{
        grid-area: links1;
    }

    .col2{
        grid-area: links2;
    }

    .footerCopyright{
        grid-area: copyright;
    }


}


/*sass --watch scss/estilos.scss css/estilos.css*/