// ----------- VARIABLES PROYECTO ----------

//-----------  FONTS  -------------

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@400;600;700;800;900&family=Source+Sans+3:wght@700&display=swap');


//Paleta de colores: Dust Palette

$color1: #593E57;
$bgColor: #251824;
$color3: #B7A6B5;
$color4: #FF8066;
$textColor: #ffffff;

//------------FONT SIZE --------------

$size: 20px;
$size1: 20px;
$size2: 35px;
$size3: 40px;



* {
    margin: 0px;
    padding: 0px;
}

@import "_navbar";
@import "_main";
@import "_form";

/*-----------  FOOTER  -------------*/

.footer {
    background-color: rgba(37, 24, 36, 0.95);
    color:  $textColor;
    padding: 40px;
    text-align: center;
}

.footerLogo {
    margin-bottom: 30px;
    display: inline-block;

    img {
        height: 150px;
    }

}


.footerSocial {
    margin-bottom: 30px;

    a img {
        display: inline-block;
        margin-right: 16px;
        height: 60px;
    
    
    }

}



.footerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*toma el tamano del elemento hijo*/
    line-height: 2;
    font-size: $size1;
    font-weight: 500;

    &.col1 {

            a {
            color: $textColor;
            text-decoration: none;
            }
    }
    
    &.col2 {
        margin-bottom: 30px;

            a {
            color: $textColor;
            text-decoration: none;
            }
    }
}

.footerCopyright {
    p {
        color:rgba(255, 255, 255, 0.6);
    }
}

/*-----------  FOOTER END -------------*/

/*-----------  LLAMO A MEDIA QUERY PARA RESOLUCION DISP -------------*/

@media only screen and (max-width: 576px) {
    .welcomeTitle {
        text-align: center;
        left: 70px;
        top: 130px;
        width: auto;
        font-size: $size2;
    }

    .welcomeParagraph {
        display: none;
    }
}

@media only screen and (min-width:577px) and (max-width:1024px) {
    .welcomeTitle {
        text-align: left;
        left: 70px;
        top: 150px;
        width: auto;
        font-size: 40px;
    }

    .welcomeParagraph {
        left: 70px;
        top: 250px;
        width: 450px;
        height: auto;
        font-size: $size;
    }

}

@media only screen and (min-width:1025px) {
    .welcomeTitle {
        text-align: left;
        left: 70px;
        top: 180px;
        width: 450px;
        font-size: 80px;
        line-height: 120px;
    }

    .welcomeParagraph {
        right: 100px;
        top: 180px;
        width: 450px;
        height: auto;
        font-size: $size1;
    }

    .title2 {
        padding: 300px;
        font-size: 70px;
    }
    
    .footer{
        display:grid;
        grid-template-columns: repeat(3,1fr) 2fr;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
        "logo links1 links2 social"
        "logo links1 links2 copyright";
        justify-items: start;
    }
    .footerLinks{
        align-items: start;
    }
    .footerLogo{
        grid-area: logo;
    }
    
    .footerSocial{
        grid-area: social;
    }

    .col1{
        grid-area: links1;
    }

    .col2{
        grid-area: links2;
    }

    .footerCopyright{
        grid-area: copyright;
    }



}


/*sass --watch scss/estilos.scss css/estilos.css*/